<h1>HOME PAGE</h1>
<div class="mt-4">
    <div class="container">
        <div class="row">
        {{#each products}}
        <div class="col-sm-6 col-lg-3 mt-4">
            <div class="card h-100 border-2 border-danger">
                <img src="/img/product-mix3.png" class="card-img-top" alt="Hình minh hoạ">
                <div class="card-body" style="padding-bottom: 3px ;padding-top: 5px">
                    <h3 class="card-title text-left">{{this.TENSP}}</h3>
                    <h6 class="card-text text-left text-danger"><b>{{this.GIA}}$</b></h6>
                </div>
                <div class="card-footer " style="padding: 0">
                        <a href="#" class="btn btn-lg btn-danger btn-block" role="button"
                            style="padding: 5px 0; font-size:15px;" aria-pressed="true">CHỌN MUA</a>
                    </div>
            </div>
        </div>
        {{/each}}
    </div>
    </div>
</div>